* {
    margin: 0px;
}
/* 標題區塊 */
#Top_Main_title {
    background-color: aquamarine;
    position: relative;
    text-align: center;
    width: 100%;
}
/* 內容區塊 */
#Mid_Content {
    width: 100%;

    position: relative;
    background-color: rgb(180, 225, 227);
}

/* 內容區塊2 */
#Mid_Content2 {
    background-color: rgb(167, 113, 222);
    width:100%;
    height: 600px;
    position:absolute;
    text-align: center;
}

/* 健康計算機選項_BMI BMR Heat */
.Mid_Content_block {
    display:inline-block;
    justify-items: center;
    align-items: center;
    background-color: aqua;
    color: red;
    width:10%;
    height: 200px;
    border: 2px solid red;
    margin: 30px 20px   ;
}
/* 社交媒體Icon */
#Under_SocialMedia {
    position:absolute;
    width: 100%;
    height: 79px;
    background-color: blue;
    bottom: 21.6px;
}
/* 頁尾 */
#Footer_last {
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: red;
}