* {
    margin: 0px;
}
#background_body {
    position:absolute;
    top:0;
    left:0;
    background-image: url("./XT5X1474.JPG");
    background-size: 100vw 100vh;
    object-fit: none;
    opacity: 0.9;
    margin:0;
    width: 100vw;
    height: 100%;
}
/* 標題區塊 */
#Top_Main_title {
    /* background-color: aquamarine; */
    margin: 15px auto;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 50px;
    color: white;
}
#Top_Main_title_block {
    background-color: #162439;
    position: absolute;
    width: 100%;
    top:0px;
    height: 100px;
    opacity: 0.4;
}
/* 內容區塊 */
#Mid_Content {
    top:3px;
    width: 100%;
    position: relative;
}
#Mid_Content_block {
    /* display: none; */
    background-color: #10172b;
    opacity: 0.5;
    width:100%;
    margin :auto;
    height: 577px;
    font-size: 20px;
}

/* 內容區塊2 */
#Mid_Content2 {
    width:100%;
    height: 260px;
    position:absolute;
    text-align: center;
    top:0px;
}

/* 健康計算機選項_BMI BMR Heat */
.Mid_Content_block {
    display:inline-block;
    justify-items: center;
    align-items: center;
    background-color: rgb(245, 247, 247);
    cursor: pointer;
    color: rgb(111, 3, 3);
    width:20%;
    height: 100%;
    margin: auto 20px;
    border-radius: 10px;
    font-size: 60px;
}
/* 中間文字介紹區塊 */
#Mid_introduce {
    position:absolute ;
    width: 100%;
    height: 320px;
    top: 260px;
    display: flex;
    flex-direction: column;
}
#Mid_introduce_block {
    left:10%;
    position:absolute ;
    background-color: #10172b;
    opacity: 0.6;
    width: 80%;
    height: 320px;
    top: 260px;   
}

/* 文字介紹區塊主要內容 */
#Mid_introduce_text_Name {
    font-size: 90px;
    margin: auto 20%;
    text-align: center;
    color: white;
}
#Mid_introduce_text_word {
    color: white;
    text-align: center;
    margin: auto 20%;
    height: 41.9%;
    font-size: 25px;
    padding: 3px 60px;
}

/* 選項圖片 */
#Mid_Content_BMI{
    background-image: url(./image/1.png);
}
#Mid_Content_BMR{
    background-image: url(./image/2.png);
}
#Mid_Content_HEAT{
    background-image: url(./image/3.png);
}
#Mid_Content_ABSI{
    background-image: url(./image/4.png);
}



/* 社交媒體Icon */
#Under_SocialMedia_blocl {
    position:absolute;
    left:10%;
    width: 80%;
    height: 45px;
    background-color: rgb(15, 18, 20);
    opacity: 0.4;
    bottom: 21.6px;
}
#Under_SocialMedia {
    position:absolute;
    width: 100%;
    height: 45px;
    /* background-color: rgb(253, 220, 136); */
    bottom: 21.6px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.Under_SocialMedia_ALL {
    width: 20px;
    height: 20px;
    margin: auto 20px;
}

/* 頁尾 */
#Footer_last_block {
    position:absolute;
    height: 21.6px;
    opacity: 0.8;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
#Footer_last {
    color: white;
    position:absolute;
    bottom: 0;
    width: 100%;
    /* background-color: rgb(235, 175, 96); */
    text-align: center;
}
/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */
/* RWD響應式設計 */

@media screen and (max-width: 769px) {
    #Mid_Content2 {
        font-size:10px;
        height: 200px;
    }
    .Mid_Content_block {
        margin:auto 10px;
        font-size:20px;
        height: 100%;
        width: 23%;
        background-repeat: no-repeat;
    }
    #Mid_Content_block {
        height: 200px;
    }
    #Mid_introduce{
        top:200px;
        height: 377px ;
    }
    #Mid_introduce_block {
        top:200px;
        height: 377px ;
    }
    #Mid_introduce_text_Name {
        font-size: 40px;
    }
    #Mid_introduce_text_word {
        font-size: 20px;
    }
   
};
