body {
    margin:0;
    width: 100vw;
    height: 100vh;
}
/* li列表開頭符號 */
li { 
    list-style-type: none;
}

/* 熱量計算器 */
#daliyheat_block {
    border: 2px solid red; 
    list-style-type: none;
}

/* BMR計算器 */
#bmrCalculate_div{
    border: 2px solid red;
}

/* BMI計算器 */
#Two_block_calculate_result {
    font-size: 40px;
    position:fixed;
    top:50%;
    left:50%;
    background: linear-gradient(120deg, rgb(36, 110, 100) ,rgb(86, 6, 118));
    display: flex-grow;
    border:2px solid rgb(71, 73, 8);
    height: 600px;
    width: 80%;
    transform: translate(-50%, -50%);
    float: left;
}
/* BMI水平對齊 */
#Two_block_calculate_result {
    display:flex;
    justify-content:space-around;
}
/* #Two_block_calculate_result > div {
    margin: 20xp;
} */
#bmiCalculate_div, #bmi_result_Block{
    border: 2px solid red;
    width:46%;
    height :550px;
    margin: auto;
}
/* bmi計算器文字大小 */
/* 按鈕大小配置 */

/* 最上層下拉式選單 */
#Top_ListBlock {
    width: 100%;
    position: relative;
    height: 40px;
    left:0;
    top:0;
    background-color: red;
    
}